.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;
    letter-spacing: 0.1em;
}

.data {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 33px;
    margin-left: 50pxsd;

}

.bubble {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card {
    width: 900px;
    padding: 10px;
    border: 1px dashed line;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: #eaf3e8;
    border: 1px solid #96c18d;

    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.content {
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: space-between; */
    padding: 16px;
    /* background-color: antiquewhite; */
    /* border: 2px solid black; */


}
.top-1{
    width: 100%;
    padding: 2px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
}
.test{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

.test h2{
    font-size: 1.2rem;
}
.test img{
    margin-bottom: 20px;
    width: 20px;
}
.border {
    border: 1px solid #96c18d;

    width: 100%;
    display: flex;


}
.PG3 img{
    margin-bottom: 20px;
    width: 20px;
    
}
.PG4 {
    /* border: 1px solid rgb(57, 15, 182); */
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px 10px; 
    align-items: center; 
    width: 100%; 
    grid-template-rows: auto 5px ;
     

}
.PG2 h3{
    font-size: 1.2rem;
}
.edit-admin{
    justify-content: center;
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(255, 0, 115); */
    gap: 20px;
}


.card p {
    display: flex;
    align-items: center;
    height: 50px;
}

.left, .right {
    box-sizing: border-box; /* รวม padding และ border */
    padding: 8px;
    text-align: left;
    border: 1px solid #c0daba;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    min-height: 50px; 
    color: #585656;
}