<div class="Reset">
    <div class="content">
      <div class="head">
        <h1>Reset your password</h1>
      </div>
      <div class="form">
        <!-- Section สำหรับ Input Email และปุ่ม Resend OTP -->
        <div class="top">
          <input type="text" name="email" placeholder="Email" [(ngModel)]="email" class="email-input" />
          <button class="resend-btn" (click)="onSubmits()">Resend OTP</button>
        </div>
  
        <!-- Section สำหรับ OTP และ New Password -->
        <div class="bottom">
          <input type="text" name="otp" placeholder="OTP" [(ngModel)]="otp" [disabled]="!isPasswordEnabled" />
          <input type="text" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword" [disabled]="!isPasswordEnabled" />
        </div>
      </div>
      <button class="btn" (click)="checkcode()">Submit</button>
    </div>
  </div>
  